@import '~@angular/material/prebuilt-themes/purple-green.css';
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';
html,
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  text-rendering: optimizeLegibility;
  overflow: hidden;
  touch-action: manipulation;
  -webkit-user-drag: none;
  -ms-content-zooming: none;
  word-wrap: break-word;
  overscroll-behavior-y: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
quill-editor {
  display: flex;
  flex-direction: column;
  height: 100%;
}
quill-editor .ql-container.ql-snow {
  flex: 1 1 auto;
  border: none;
  font-size: unset;
  overflow: scroll;
}
quill-editor .ql-toolbar.ql-snow {
  border: none;
}
